* {
  margin: 0;
  padding: 0;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  width: calc(64px * 8);
  height: calc(64px * 8);
  display: flex;
  flex-wrap: wrap;
}

.cell {
  width: 64px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cell img {
  width: 48px;
  height: 48px;
  position: relative;
}

.black {
  background-color: rgb(78, 92, 122);
}

.white {
  background-color: rgb(187, 209, 255);
}

.selected {
  background-color: rgb(28, 104, 219);
}

.available {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: aqua;
}

.wrraper-lost {
  display: flex;
  width: 422px;
  justify-content: flex-end;
}

.lost {
  height: calc(50vh - 60px);
  padding: 30px;
  margin-left: 10px ;
  background-color: lightgray;
}